@model Architecture.BusinessLogic.CustomerDTOs.CustomerDTO
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome @Model.FirstName @Model.Initials @Model.LastName</h1>
        <h4>Your Inserted Guid was @Model.Guid</h4>
        <h6>Your name is data from updating. Previous stored data was lost</h6>
        <br />
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
